@import "./variables";

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    width: 80px;
  }

  ul.navbar {

    li.navbar-item {
      display: inline-block;
      padding: 0 15px;
      
      a {
        padding: 46px 0;
        font-size: 13px;
        color: #1c1c1c;
        font-weight: 700;
        text-transform: uppercase;
        cursor: pointer;
        border-bottom: 7px solid transparent;
        border-top: 7px solid transparent;
        
        &:hover {
          color: #0282f9;
          border-bottom: 7px solid #0282f9;
        }
      }
    } 
  }
}